.header {
    padding: 44px 63px 0 55px;
    z-index: -1;
}

.header_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_list li {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    position: relative;
    margin-left: 88px;
}

.header_list li .active::after {
    content: "";
    width: 31px;
    height: 4px;
    background: #dc7000;
    display: block;
    border-radius: 20px;
    position: absolute;
    bottom: -10px;
    left: -14px;
}

.header_list li .active::before {
    content: "";
    width: 5px;
    height: 4px;
    background: #dc7000;
    border-radius: 20px;
    display: block;
    position: absolute;
    bottom: -10px;
    left: 20px;
}

.header_list li a {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}

.header_list button {
    border-radius: 6px;
    width: 131px;
    height: 41px;
    background: #fa9021;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    color: #fff;
    border: none;
    margin-left: 36px;
    cursor: pointer;
}

.header_list button a {
    border-radius: 6px;
    width: 131px;
    height: 41px;
    background: #fa9021;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    color: #fff;
}

.modal {
    position: fixed;
    inset: 0;
    background-image: url(https://img.freepik.com/free-vector/abstract-realistic-technology-particle-background_52683-33064.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    
    transform: translateX(-2000px);
    transition: 1s;
    z-index: 99;
    height: 100vh;
}

.show_modal {
    transform: translateX(0);
    transition: 500ms;
}

.modal_list {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.modal_list li {
    margin-bottom: 10px;
    position: relative;
    text-align: center;
}

.modal_list li .active::after {
    content: "";
    width: 60px;
    height: 4px;
    background: red;
    border-radius: 20px;
    display: block;
        margin: 0 auto  ;
}

.modal_list a {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    color: #fff;
}

.modal_list button {
    border-radius: 10px;
    padding: 5px 24px;
    background: red;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    border: none;
    margin-top: 15px;
    width: 50%;
    margin: 0 auto;
}

.burger {
    width: 30px;
    cursor: pointer;
    display: none;
    z-index: 5;
}

.close_btn {
    position: absolute;
    cursor: pointer;
    top: 30px;
    right: 30px;
    z-index: 5;
}

.close_btn:hover {
    transform: rotate(180deg);
    transition: 500ms;
}

.abs {
    overflow: hidden;
}

@media (max-width:950px) {
    .header {
        padding: 44px 32px 0 27px;
    }

    .header_list li {
        margin-left: 34px;
    }

    .header_list button {
        margin-left: 18px;
    }
}

@media (max-width:700px) {
    .header_list {
        display: none;
    }

    .burger {
        display: block;
    }
}