.homeHero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 98px;
    padding: 116px 0 178px;
}

.bg_img {
    z-index: -5;
}

.homeHero img {
    position: absolute;
    top: 0;
    right: 0;
}

.homeHero_content h4 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 155%;
    color: #e87d0e;
    margin-bottom: 17px;
}

.homeHero_content h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 50px;
    line-height: 155%;
    color: #fff;
    margin-bottom: 26px;
    width: 480px;
}

.homeHero_content p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 200%;
    color: #fff;
    margin-bottom: 50px;
    width: 527px;
}

.homeHero_content button {
    border-radius: 40px;
    width: 195px;
    height: 53px;
    background: linear-gradient(113deg, #fa8305 0%, #fb9e3c 100%);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    border: none;
    cursor: pointer;
}

@media (max-width:1200px) {
    .homeHero {
        padding: 100px 24px;
    }

    .bg_img {
        display: none;
    }

    .homeHero_content h1 {
        width: auto;
    }

    .homeHero_content p {
        width: auto;
    }
}

@media (max-width:500px) {
    .homeHero {
        padding: 60px 16px 20px;
    }

    .homeHero_content h1 {
        font-size: 30px;
    }

    .homeHero_content p {
        font-size: 14px;
    }
}