.input {
    padding: 105px 0 163px;
    background: linear-gradient(152deg, #090300 0%, rgba(9, 3, 0, 0) 100%);
}

.input h3 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 30px;
    line-height: 187%;
    color: #fff;
    margin-bottom: 32px;
}

.input_text1 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 187%;
    color: #fff;
    margin-bottom: 74px;
}

.input_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 40px 50px 42px 56px;
    background: #1c140f;
    border-radius: 15px;
}

.input_content h2 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 30px;
    color: #fff;
    margin-bottom: 10px;
}

.input_text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    color: #fff;
}

.form {
    position: relative;
}

.form input {
    border-radius: 8px;
    width: 385px;
    height: 48px;
    background: #fff;
    padding: 14px 20px;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 13px;
    color: #000;
    border: none;
}

.form button {
    border-radius: 8px;
    width: 104px;
    height: 37px;
    background: #dc7000;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    color: #fff;
    border: none;
    position: absolute;
    top: 6.2px;
    right: 5px;
    cursor: pointer;
}

@media (max-width:810px) {
    .input_wrapper {
        flex-direction: column;
        padding: 105px 24px 163px;
    }
}

@media (max-width:560px) {
    .input {
        padding: 70px 16px 100px;
    }

    .form input {
        width: 270px;
    }
}