.team {
    padding: 148px 0 50px;
    background: linear-gradient(152deg, #090300 0%, rgba(9, 3, 0, 0) 100%);
}

.team h2 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 25px;
    line-height: 180%;
    color: #fff;
    margin-bottom: 53px;
}

.team_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 28px;
}

.team_card {
    border-radius: 20px;
    background: #1c140f;
    padding: 35px 0 30px;
    text-align: center;
}

.team_card h4 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 19px;
    line-height: 203%;
    color: #fff;
}

.team_card kbd {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 16px;
    line-height: 203%;
    color: #e8e8e8;
}

@media (max-width:800px) {
    .team {
        padding: 100px 16px 50px;
    }

    .team_grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
}

@media (max-width:400px) {
    .team {
        padding: 70px 16px 50px;
    }

    .team_grid {
        grid-template-columns: repeat(1, 1fr);
    }
}