:root {
    --font-family: "Poppins", sans-serif;
    --second-family: "Poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    backdrop-filter: blur(14px);
    background: linear-gradient(180deg, #000 0%, #4a2800 100%);
}